[Unit]
Description=FastAPI application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/dk-backend
Environment="PATH=/home/ubuntu/dk-backend/.venv/bin"
Environment="PYTHONPATH=/home/ubuntu/dk-backend"
ExecStart=/home/ubuntu/dk-backend/.venv/bin/gunicorn uvicorn app.main:app --host 0.0.0.0 --port 8000 --log-level debug > fastapi.log 2>&1

[Install]
WantedBy=multi-user.target

